
<header>Cyclendar</header>

<div id='authorize'>
	<a href='#' id='authorize-button' onclick='handleAuthClick();'>Login</a>
</div>

<section id='content'>

  <div id='eventsDiv'>
	<h1>Upcoming Events</h1>
  </div>
  <div id='googleDiv'>
	  <div id='map-canvas'></div>
	  <div id='calendar'></div>
  </div>
</section>
<footer>Cyclendar: A Mashup for Homework 2</footer>

