<h1>Events#display_all</h1>

<table>
  <thead>
    <tr>
      <th>Event Name</th>
    </tr>
  </thead>

  <tbody>
    <% @events["MatchingEvents"].each do |event| %>
      <tr>
        <td><%= event["EventName"] %></td>
		<td><%= event["EventCity"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
